<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Load data result</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>

		<div class="container">
			<h2 th:text="'Last' + ${maxResults} + ' readings of ' + ${publisherName}"></h2>
			<hr/>
			
			<hr/>
			<div class="row">
				<div class="col-sm-4">
					<a href="/index.html" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Back</a>
				</div>
			</div>
			<hr/>
			<div th:each="read, mStat : ${readings}" class="row">
				<div class="row">
					<div class="col-sm-12">
						<span th:text="${mStat.index + 1} + ' : ' + ${read.publisher} + ', ' + ${read.time} + ', ' + ${read.medianReading}">0</span>.
					</div>
				</div>
			</div>
		</div>
	</body>
</html>